.doctors-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-left: 10%;
}
.doctors-cols{
  display: grid;
  width: 100vh;
  margin-left: 10%;

}
.h2{
  margin-right: 10%;
}

.doctor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}


.doctor-image-container {
  width: 96px;
  height: 96px;
  margin-bottom: 16px;
}

.doctor-image {
  width: 40%;
  height: 20%;
  border-radius: 50%;
  object-fit: cover;
}

.doctor-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  
  
}
.doctor h2{
  text-align: center;
}

.doctor-speciality {
  font-size: 14px;
  color: #666;
}

.availability-button {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  padding: 8px;
  border-radius: 30px;
  margin-top: 10px;
}

.availability-button.bg-green-500 {
  background-color: #4caf50;
}

.availability-button.bg-red-500 {
  background-color: #f44336;
}